<!-- Profile section -->
<section id="about" class="container content-section" itemscope itemtype="http://data-vocabulary.org/Person">
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto content">
        <h2 class="text-center">Profile</h2>
        <p class="lead text-center">I am an Automation Engineer, Software Developer</p>
        <hr />
        <div class="row">
          <div class="col-md-4">
            <h3>About me</h3>
            <p class="text-justify">I am a <span itemprop="title">Software Engineer</span> with a focus on web development and testing. Recently, I've been working in the fields of backend and frontend web development and testing. I love trying out opensource software and building applications which make our everyday life easy.</p>
          </div>
          <div class="col-md-4">
            <div class="text-center avatar-wrapper" data-sr="enter right, roll 180deg, over 0.5s">
              <img src="./assets/img/avatar.jpg" class="avatar" alt="Phani Nuthaky" />
            </div>
          </div>
          <div class="col-md-4 general-information">
            <h3>General information</h3>
            <p>
              <b>Full name:</b><br />
              <span itemprop="name">Phani Nuthaky</span>
            </p>
            <p>
              <b>Age:</b><br />
              {{ CalculateAge() }} years old
            </p>
            <p>
              <b>Location:</b><br />
              Richmond, VA
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>