<!-- Interests section -->
<div class="green-background">
    <section id="interests" class="container content-section">
      <div class="row">
        <div class="col-lg-10 ml-auto mr-auto content">
          <h2 class="text-center">Interests</h2>
          <p class="lead text-center">In my spare time I like to</p>
          <hr />
          <div class="row">
            <div class="col-sm-4 text-center">
              <div class="interest-icon-wrapper">
                <i class="ion-ios-tablet-portrait huge"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="interest-wrapper">
                <h3>New technologies</h3>
                <p>
  
                  Technology facinates me, I spend a lot of time on my laptop exploring new advances in the areas of web and computer services which are intended to the professional world or the public.
  
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <div class="interest-icon-wrapper">
                <i class="ion-ios-laptop huge"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="interest-wrapper">
                <h3>Programming</h3>
                <p>
  
                  I like learning new tricks on programming by writing some programs. I like building stuff reusing already built ones.
  
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <div class="interest-icon-wrapper">
                <i class="ion-ios-camera huge"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="interest-wrapper">
                <h3>Photography</h3>
                <p>
                  I am a hobbiest photographer. I love taking portraits of my daughter and capturing beautiful landscapes.
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <div class="interest-icon-wrapper">
                <i class="ion-ios-book huge"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="interest-wrapper">
                <h3>Reading</h3>
                <p>
  
                  I love reading articles on the web and some SiFi thillers.
  
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 text-center">
              <div class="interest-icon-wrapper">
                <i class="ion-ios-paper-plane huge"></i>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="interest-wrapper">
                <h3>Travel</h3>
                <p>
  
                  I love traveling to places with historical importance and places of natural beauty.
  
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
