<!-- Skills section -->
<section id="skills" class="container content-section">
    <div class="row">
      <div class="col-lg-10 ml-auto mr-auto content">
        <h2 class="text-center">Skills</h2>
        <p class="lead text-center">I can say I am good at</p>
        <hr />
        <h3>Software development</h3>
        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Python</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Django Framework</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Flask Framework</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Javascript</span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">HTML &amp; CSS</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Bourne shell scripting</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Java</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">C</span>
            </p>
          </div>
        </div>
        <hr />
        <h3>Databases / Stores</h3>
        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">MySQL</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">MongoDB</span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Elasticsearch</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Oracle</span>
            </p>
          </div>
        </div>
        <hr />
        <h3>DevOps tools</h3>
        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Docker</span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Ansible</span>
            </p>
          </div>
        </div>
        <hr />
        <h3>Frontend Libraries and Frameworks</h3>
        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">React</span>
            </p>
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">JQuery</span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Webpack</span>
            </p>
          </div>
        </div>
        <hr />
        <h3>Languages</h3>
        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Telugu (mother tongue)</span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">English</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Hindi</span>
            </p>
          </div>
        </div>
        <hr />
        <h3>Tools</h3>
        <div class="row">
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">Git</span>
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <span class="skill-check"><i class="fa fa-check-circle"></i></span>
              <span class="skill-name">SVN</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>