<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

  <a class="navbar-brand" [routerLink]="'/top'">
    <img src="../assets/img/logo.svg" alt="N" width="20" height="20"/> &nbsp; PHANI NUTHAKY
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"  [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav ml-auto">
      <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
      <li class="hidden"><a href="#top"></a></li>
      <li class="nav-item" align="right" routerLinkActive="active"><a class="nav-link goto" [routerLink]="'/about'">ABOUT</a></li>
      <li class="nav-item" align="right" routerLinkActive="active"><a class="nav-link goto" [routerLink]="'/resume'">RESUME</a></li>
      <li class="nav-item" align="right" routerLinkActive="active"><a class="nav-link goto" [routerLink]="'/skills'">SKILLS</a></li>
      <li class="nav-item" align="right" routerLinkActive="active"><a class="nav-link goto" [routerLink]="'/interests'">INTERESTS</a></li>
      <li class="nav-item" align="right" routerLinkActive="active"><a class="nav-link goto" [routerLink]="'/blog'"> BLOG </a></li>
      <li class="nav-item" align="right" routerLinkActive="active"><a class="nav-link goto" [routerLink]="'/contact'">CONTACT</a></li>
    </ul>
  </div>
</nav>

<router-outlet>
</router-outlet>