<!-- Experiences section -->
<div class="green-background">
    <section id="resume" class="container content-section">
      <div class="row">
        <div class="col-lg-10 ml-auto mr-auto content">
          <h2 class="text-center">Resume</h2>
          <p class="lead text-center">My education and experience</p>
          <hr/>
          <h3>Education</h3>
          <div class="mt-3 row">
            <div class="col-md-4">
              <h4>Lamar&nbsp;University</h4>
              <p>(2013&nbsp;&ndash;&nbsp;2015)</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 diploma-title">Master's degree in Business Administration</p>
              <p>Master's Degree in Business Administration
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Team Leadership</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Personal Leadership</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Strategic Management</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Supply Chain Management</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Marketing Management</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Human Resource Management</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;E-Commerce</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;E-Marketing</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Beaumont, TX&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.lamar.edu/" target="_blank">Lamar.edu</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Lamar&nbsp;University</h4>
              <p>2008&nbsp;&ndash;&nbsp;2010</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 diploma-title">Master's degree in Engineering</p>
              <p>Master's Degree in Mechanical Engineering
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Manufacturing Analysis</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Applcation Numerical Analysis</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Dynamic Systems Analysis</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Robotics</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Process Selection</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Material Selection</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Control of Mechanical Systems</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;FEA with ANSYS</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Beaumont, TX&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.lamar.edu/" target="_blank">Lamar.edu</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>JNT University</h4>
              <p>2001&nbsp;&ndash;&nbsp;2005</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 diploma-title">Bachelor of Technology</p>
              <p>Bachelors Degree in Mechanical Engineering.
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;C Programming</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Engineering Mechanics</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Thermodynamics</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Thermal Engineering</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Uncoventional Machining Process</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Nonconventional Sources of Energy</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Hyderabad, India&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://jntuh.ac.in/" target="_blank">jntuh.ac.in</a></p>
            </div>
          </div>
          <hr />
          <h3>Experience</h3>
          <div class="mt-3 row">
            <div class="col-md-4">
              <h4>Amensys Inc.</h4>
              <p>Oct 2015&nbsp;&ndash;&nbsp;Present</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 job-title">Network Engineer</p>
              <p>
                Involved in the development of Test Plan and Test cases. Performed automation for Functional and Regression Testing using Selenium WebDriver and Calabash. Authored about 40 test cases to handle different call flows using the Cisco Spark app on different platforms and maintained them on bitbucket. Configuring static IPs on cisco gateways and configuring static reservations on Windows DNS servers. Deploying VMs on vCenter and supporting development teams with the access to the testbed. Wrote APIs in python to simulate input via keypad on a Cisco phone and generating HTML report.
              </p>
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Software Engineering</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Python Development</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Web Development</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Jenkins</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;JIRA</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Calabash</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Docker</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;vCenter</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Lewisville, TX&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="https://www.amensys.com" target="_blank">amensys.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Pioneer Consulting LLC</h4>
              <p>Dec 2012&nbsp;&ndash;&nbsp;Mar 2013</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 job-title">Software Engineer</p>
              <p>
                Worked on a migration project where the systems in the organization have
                upgraded from Windows XP to Windows 7. Tested about 200 applications for
                compatibility on Windows7. Repackaged the tested applications for
                deployment.
              </p>
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Software Engineering</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Windows7 64-bit, XP</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;AdminStudio 11.0</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;SCCM 2007</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Active Directory 2008</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;VMWare Workstation</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;West Des Moines, Iowa&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.pioneeritconsulting.com/Sites/index.aspx" target="_blank">pioneeritconsulting.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>RM Networks Inc.</h4>
              <p>Sep 2012&nbsp;&ndash;&nbsp;Dec 2012</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 job-title">Software Engineer</p>
              <p>
                Worked on a migration project where the systems in the organization have
                upgraded from Windows XP to Windows 7. Tested about 200 applications for
                compatibility on Windows7. Repackaged the tested applications for
                deployment.
              </p>
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Software Engineering</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Windows7 64-bit, XP</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;AdminStudio 11.0</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;SCCM 2007</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Active Directory 2008</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;VMWare Workstation</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Bellevue, WA&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="https://www.phaninuthaky.com" target="_blank">rmnetworksinc.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>World Class Workforce LP</h4>
              <p>Jun 2012&nbsp;&ndash;&nbsp;Sep 2012</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 job-title">Software Engineer</p>
              <p>
                Participated in web design meetings and analyzed user needs to determine
                technical requirements. Developed and maintained websites or web
                applications involving multiple programming languages. Designed coherent
                user interfaces consistent with modern web design practices. Wrote and
                maintained unit tests and design documentation for subsystems and
                components. Modified, repaired, or expanded programs to correct errors,
                increase efficiency, upgrade interfaces, or improve performance.
                Performed testing and analysis on web and systems to identify problems.
                Evaluated effectiveness of Web applications and systems or
                potential/existing vendor components.
              </p>
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Software Engineering</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Java</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;J2EE</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;HTML</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;SQL</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;PL/SQL</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Oracle</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Hanover, NH&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://wcwforce.com/" target="_blank">wcwforce.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>MicroInfo Inc.</h4>
              <p>Dec 2011&nbsp;&ndash;&nbsp;Jun 2012</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 job-title">Programmer Analyst</p>
              <p>
                Extracted data from different sources Oracle, SQL Server and Flat files
                implemented business logic and loaded into the target Warehouse
                (Oracle). Studied the PL/SQL code developed to relate the source and
                target mappings. Designed and developed the jobs for Extracting,
                Transforming, Integrating, and Loading Data using DataStage Designer.
                Modified existing program logic to improve overall system performance.
              </p>
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Software Engineering</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Informatica Power Center 8.6</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Power Exchange 8.6</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Unix</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Autosys</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;File Aid 9.2</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Oracle 10g</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Plano, TX&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.microinfoinc.com/" target="_blank">microinfoinc.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>Galaxy I Technologies</h4>
              <p>Mar 2011&nbsp;&ndash;&nbsp;Dec 2011</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 job-title">Programmer Analyst</p>
              <p>
                Worked on an internal payroll application to suggest and implement
                improvements. Acquired proficiency with the various data base resources
                and data base management. Ameliorated performance of communication
                systems, software storage, security, hardware, network, and others.
                Acquired as well as developed test data, revising program(s) resulting
                in improved performance.
              </p>
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Java</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;J2EE</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Oracle 9i</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Phoenix, AZ&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.galaxyitech.com/" target="_blank">galaxyitech.com</a></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <h4>SSIT</h4>
              <p>Jun 2005&nbsp;&ndash;&nbsp;Dec 2007</p>
            </div>
            <div class="col-md-8">
              <p class="mt-0 job-title">Program Instructor and Office Assistant</p>
              <p>
                Assisted students with their lab work. Helped undergraduate students
                with their final project work. Scheduled lab timings for different
                batches of students.
              </p>
              <div class="tags">
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Java</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;J2EE</span>
                <span class="tag"><i class="fa fa-dot-circle-o"></i>&nbsp;&nbsp;Oracle 9i</span>
              </div>
              <p class="metadata"><i class="fa fa-map-marker"></i>&nbsp;&nbsp;Vijayawada, India&nbsp;&#124;&nbsp;<i class="fa fa-link"></i>&nbsp;&nbsp;<a href="http://www.ssit.biz/" target="_blank">ssit.biz</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>